<!DOCTYPE html>
<html>
   <head>
      <title>主題查詢</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Taiwan Youth</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="/">頁面介紹</a></li>
                  <li><a href="/subject/">主題查詢<span class="sr-only">(current)</span></a></li>
                  <li><a href="#">關鍵字查詢</a></li>
                  <li><a href="#">波次查詢</a></li>
                  <li class="active"><a href="/download/">下載清單</a></li>
               </ul>
            </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
      </nav>
      <div style="padding-left:20px;padding-top:20px">
         <form id="form" action="/download/" method="get">
            <button class="btn btn-default" name="clear" value="true">清除列表</button>
         </form>
         <table class="table">
            <thead>
               <tr>
                  <th>對象</th>
                  <th>層次</th>
                  <th>面向</th>
                  <th>問題</th>
                  <th>編號</th>
               </tr>
            </thead>
            <tbody>
               {% for line in saved %}
                  <tr>
                     {% for ele in line %}
                        <td>{{ele}}</td>
                     {% endfor %}
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </body>
</html>
