<!DOCTYPE html>
<html>
   <head>
      <title>主題查詢</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script>
         $(document).ready(function(){
            $('select').on('change', function() {
               <!--alert( this.value );-->
               $('#form').submit()
            })
         })
      </script>
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Taiwan Youth</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="/">頁面介紹</a></li>
                  <li class="active"><a href="/subject/">主題查詢<span class="sr-only">(current)</span></a></li>
                  <li><a href="#">關鍵字查詢</a></li>
                  <li><a href="#">波次查詢</a></li>
                  <li><a href="/download/">下載清單</a></li>
               </ul>
            </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
      </nav>
      <form id="form" action="/subject/" method="get">
         <div style="padding-left:20px">
            <div class="row">
               <div class="col-md-2">
                  <label>選擇對象</label>
                  <select name="level1" class="form-control">
                     {% for level1 in level1_list %}
                     <option value="{{level1}}">{{ level1 }}</option>
                     {% endfor %}
                     <option value="{{selected1}}" selected>{{ selected1 }}</option>
                  </select>
               </div>

               <div class="col-md-2">
                  <label>選擇分析層次</label>
                  <select name="level2" class="form-control">
                     {% for level2 in level2_list %}
                     <option value="{{level2}}">{{ level2 }}</option>
                     {% endfor %}
                     <option value="{{selected2}}" selected>{{ selected2 }}</option>
                  </select>
               </div>

               <div class="col-md-2">
                  <label>選擇面向</label>
                  <select name="level3" class="form-control">
                     {% for level3 in level3_list %}
                     <option value="{{level3}}">{{ level3 }}</option>
                     {% endfor %}
                     <option value="{{selected3}}" selected>{{ selected3 }}</option>
                  </select>
               </div>
            </div>
            <br>
            <br>
         </div>

         <div style="padding-left:20px;padding-top:20px;padding-right:20px">
            <table class="table">
               <thead>
                  <tr>
                     <th>分析層次</th>
                     <th>面向</th>
                     {% for wave in waveCnt%}
                        <th>{{wave}}</th>
                     {% endfor %}
                     <th>問卷題項</th>
                     <th>加入選擇清單</th>
                  </tr>
               </thead>
               <tbody>
                  {% for line in output %}
                     {% if line.question_top|length > 0 %}
                        <tr class="active">
                        {% if line.question_top == line.question %}
                           <tr class="info">
                        {% endif %}
                     {%else%}
                        <tr>
                     {% endif %}
                        <td>{{selected2}}</td>
                        <td>{{selected3}}</td>
                        {% for wave in line.wave %}
                           <div class="checkbox">
                              <td>
                                 <label>
                                    {% if wave|length > 0 %}
                                    <input type="checkbox" name="question" value={{line.pk}}_{{wave}} aria-label="...">
                                    {%else%}
                                       <input type="checkbox" value={{wave}} aria-label="..." disabled>
                                    {% endif %}
                                 </label>
                              </td>
                           </div>
                        {% endfor %}
                        <td style="max-width: 400px">{{line.question}}</td>
                        <td>
                           <button type="submit" class="btn btn-default">></button>
                        </td>
                     </tr>
                  {% endfor %}
               </tbody>
               <button type="submit" style="position: fixed; bottom: 10px; right:10px" class="btn-lg btn-primary">加入選擇</button>
            </table>
         </div>
      </form>
   </body>
</html>
